body {
  background-image: linear-gradient(to right, #2C2C54 , #000000);
  color: #FAFAFA;
  font-family: Georgia, Times, "Times New Roman", serif;
}

h1 {
  text-shadow: 0 0 3px #FFFFFF;
}


p {
  color: #FAFAFA;
  font-family: Georgia, Times, "Times New Roman", serif;
}

#home-button {
                margin-right: 6px;
                margin-left: 25%;
                float: left;
            }
            
#javascripts-button {
                margin-right: 6px;
                margin-left: 50px;
                float: left;
            }
            
#apps-button {
                margin-right: 6px;
                margin-left: 50px;
                float: left;
            }
            
#about-button {
                margin-right: 6px;
                margin-left: 50px;
                float: left;
          
            }

#finals-button {
                margin-right: 6px;
                margin-left: 50px;
                float: left;
          
            }
#page-text {
           
                font-size: 20px;
             
            }

#finals-video {
                float: right;
                margin-left: 10px;
  
}

#final-project {
                float: left;
  
}
