body {
  background-color: #2C2C54;
  color: #FAFAFA;
    font-family: font-family: Georgia,Times,Times New Roman,serif; 
}


p {
  color: #FAFAFA;
  font-family: font-family: Georgia,Times,Times New Roman,serif; 
}

