body {
  background-color: #2C2C54;
  color: #FAFAFA;
  font-family: Georgia, Times, "Times New Roman", serif;
}


p {
  color: #FAFAFA;
  font-family: Georgia, Times, "Times New Roman", serif;
}

#home-button {
                margin-right: 6px;
                margin-left: 50px;
            }
            
#javascripts-button {
                margin-right: 6px;
                margin-left: 50px;
                float: right;
            }
            
#apps-button {
                margin-right: 6px;
                margin-left: 50px;
                float: left;
            }
            
#about-button {
                margin-right: 6px;
                margin-left: 50px;
                float: left;
          
            }
#page-text {
                clear: both;
            }

